.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100x;
    width: 85x;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
